<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <div>
        <form  action = "/createaccount" method = "POST" onsubmit="return ValidatePassword()">
            <label>Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label><br>
            <input type="password" id="password" name="password">
            <input type="submit" value="Submit" >
        </form>
    
    </div> 
    <script src = "accountvalidation.js"></script>
</body>
</html>