<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <div id = "menuPage">
    
        <div class = "header">
            <h1 class = "title">Pog Chess</h1>
            
            <div class = "links">
                <a href="https://github.com/purgz/ComputingNEA" target="_blank" rel="noopener noreferrer">Source code</a>
                <a href = "/">Logout</a>
            </div>
        </div>

        <div class = "main">

    
            <div class = "menu">
                <div id = "displayRating"></div>
        
                <div class = "list-wrappers">
                    <div class = "listContainer">
                        <h2>Play</h2>
                        <ul class = "list" id = "gamelist"></ul>
                    </div>
                    <div class = "listContainer">
                        <h2>Spectate</h2>
                        <ul class = "list" id = "spectatelist"></ul>
                    </div>
                </div>
                <div id = "modalButtonWrapper">
                    <button id = "openModal">Create Game</button>
                </div>

                

                <div id = "createGameModal" class = "modal">
                    <div class = "modalContent">

                        <button class = "exit">x</button>

                        <form class = "createGameForm" id = "createGame" action = "/newGame" onsubmit = NewGame()>
                            <input class = "button button2" value = "No time limit" type = submit>
                        </form>

                        <p id = "displayTime">15 Minutes</p>
                        <input type="range" min = "1" max = "60"  id="time">
                        <form class = "createGameForm" id = "createGameTimed" action = "/newGame" onsubmit = NewGameTimed()>
                            <input class = "button button2" value = "Timed game" type = submit>
                        </form>
                       
                        
                    </div>


                </div>
        

                
                </form>
            </div>
        </div>


        <div class = "footer">
            <p>Henry Brooks - OCR nea project</p>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src = "menuPageScript.js"></script>
</body>
</html>