
/*styling for chess elements to create a board and pieces in the correct locations */
img 
{        
    margin:auto;
    width:100%;
}

.square
{
    position:relative;
    width: 12.5%;
    height: 0;
    padding-bottom: 12.5%;
    display:inline-block;
    margin: -2px;
    margin-bottom: 2px;
    text-align: center;
    vertical-align: top;
    background-color: #eeeed2;
}
.dark
{
    background-color:#769656;
}
.board
{
    position: relative;
    width: 100%;
    display: inline-block;
   
}
#boardwrapper{
  min-width: 200px;
  display: inline-block;
  width: 40%;
  padding-left: 20px;
}

#winnerInfo,#gameOver2{
  font-size: 1vw;
}

.container{
    
    min-width: 200px;
    width: 30%;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    vertical-align: top;
    
}
#chatwrapper{
    width:100%;
    background-color: #f2f2f2;
    
}
#chatlist{
    overflow-y: scroll;
    overflow-wrap:break-word;
    height: 200px;
}

#gameOver{
  display: none;
  position: absolute;
  left: 30%;
  top: 20%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  width:40%;
  height:60%;
}


/*disables people highlighting the squares */
.disable-select 
{
user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
}

/*aesthetic*/
body{
  

  background-color: #c8d8e4;
  padding: 0;
  margin: 0;
}

#menuPage{
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#menuPage .main{
  flex: 1;
  display: flex;
}
.sidebar{
  padding: 10px;
  display: flex;
  width: 200px;
  flex-shrink: 0;
  flex-direction: column;
  background-color: lightgrey;
  gap: 25px;
  font-size: 24px;
  box-sizing: border-box;
}

.sidebar a{
  text-decoration: none;
  transition: 300ms;
}
.sidebar a:hover{
  color: white;
}

#menuPage .menu{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.list-wrappers{
  display: flex;
  justify-content: space-around;
}