
/*styling for chess elements to create a board and pieces in the correct locations */
img 
{        
    margin:auto;
    width:100%;
}

.square
{
    position:relative;
    width: 12.5%;
    height: 0;
    padding-bottom: 12.5%;
    text-align: center;
    vertical-align: top;
    background-color: #eeeed2;
}
.dark
{
    background-color:#769656;
}
.board
{
    width: 100%;
    display:flex ;
    flex-direction: column;
}
.row{
  display: flex;
  margin: 0;
  padding: 0;
}

#boardwrapper{
  display: flex;
  flex-direction: column;
}

#gameOver{
  display: none;
  position: absolute;
  left: 35%;
  top: 30%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #55bcc9;
  width:30%;
  height:40%;
}
#gameOverContents{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gameOverContents p{
  font-size: 24px;
}

.exit{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #cafafe;
}
.exit:hover{
  filter: brightness(0.96);
}
.gameOverBtn{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  box-sizing: border-box;
}

#winnerInfo,#gameOver2{
  font-size: 1vw;
}

.container{
    
    min-width: 200px;
    width: 30%;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    vertical-align: top;
    
}
#chatwrapper{
    width:100%;
    background-color: #f2f2f2;
    
}
#chatlist{
    overflow-y: scroll;
    overflow-wrap:break-word;
    height: 200px;
}




/*disables people highlighting the squares */
.disable-select 
{
user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
}

/*aesthetic*/
body{
  background-color: #cafafe;
  padding: 0;
  margin: 0;
}

#menuPage{
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  display: flex;
  
  align-items: center;
  background-color: #55bcc9;
}
.header .title{
  padding-left: 25px;
  display: flex;
  color: white;
}

.links{
  margin-left: auto;
  padding-right: 50px;
  display: flex;
  font-size: 24px; 
  gap: 50px;
}


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55bcc9;
}

#menuPage .main{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.links a{
  text-decoration: none;
  transition: 300ms;
  color: white;
}
.links a:hover{
  color: grey;
  
}

#menuPage .menu{
  flex: 1;
  display: flex;
}

.list-wrappers{
  box-shadow:  0px 0px 5px 2px black;
  border-radius: 25px;
  margin: 24px;
  background-color: #3feee6;
  flex: 1.5;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
.listContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 30%;
  overflow-y: scroll;
}
.listContainer .list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}
.listContainer .list input{
  background-color: #cafafe;
  width: 200px;
  border-radius: 10px;
}
.listContainer .list input:hover{
  filter: brightness(0.95);
}

/*Hide scrollbar for chrome safari and opera*/
.listContainer::-webkit-scrollbar{
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.listContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#displayRating{
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-top: 24px;
  width: 300px;
  box-sizing: border-box;
}

#modalButtonWrapper{
  display: flex;
  justify-content: center;
  width: 300px;
}
#openModal{
  box-shadow:  0px 0px 2px 1px black;
  background-color: #3feee6;
  border: none;
  border-radius: 15px;
  margin-top: 24px;
  width: 100px;
  height: 80px;
  transition: 400ms;
}
#openModal:hover{
  transform: scale(1.1);

}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(50, 50, 50, 0.6) ;
  display: none;
}
.modalContent{
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 1;
}

.modal .exit{
  border: none;
  background-color: #97caef;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.modal .exit:hover{
  filter: brightness(85%);
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.login{
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form-wrapper{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3feee6 ;
  
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px black;
  background-color:#cafafe ;
}
.login-form form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.login-form h1{
  margin-top: 50px;
  margin-bottom: 100px;
}

.login-form .submit{
  width: 60px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #55bcc9;
}
.login-form .submit:hover{
  filter: brightness(0.96);
}

.login-form input[value ="Make account"]{
  margin-bottom: 10px;
  border: none;
  transition: 240ms;
}
.login-form input[value ="Make account"]:hover{
  transform: scale(1.1);
}


#game-page{
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#game-page #main{
  display: flex;
  justify-content: center;
  gap: 100px;
}

#OfferDraw{
  display: none;
}